.main {
    width: 70%;
    display: inline-block;
    box-sizing: border-box;
    margin: 2% 15%;
    background-color: white;
    border-radius: 10px;
}

.cover, .details {
    display: inline-block;
    box-sizing: border-box;
    margin: 10px;
}

.cover {
    width: 40%;
    border: 1px solid #f4f4f4;
    position: sticky;
    top: 10%;
    text-align: center;
}

.details {
    width: 55%;
    vertical-align: top;
    margin-top: 3%;
    margin-right: 0%;
}

.offer {
    width: 15%;
    margin-top: 4%;
    font-size: small;
    color: white;
    border-radius: 2px;
    padding: 1px;
}

img {
    margin-top: 10%;
}